{% extends "base.j2" %}

{% set page_title = 'Annotate' if request.resolver_match.url_name == 'annotate' else
                    'Validate' if request.resolver_match.url_name == 'validate' else
                    'Validate On Demand' %}

{% block content %}
{% if serie %}
    <h4 style="margin-top: 0">{{ serie.series_title }} <small>{{ serie.gse_name }}</small></h4>
    {% if done_tags %}
    <p>Tags done:
        {%- for tag in done_tags %}
        <a href="{{ url('on_demand_validate') }}?series_id={{ serie.series_id }}&amp;tag_id={{ tag.id }}" class="label label-success">{{ tag.tag_name }}</a>
        {% endfor %}
    </p>
    {% endif %}

    <p id="less-desc" class="desc">
        {{ serie.series_summary|truncate(150, True) }}
        <a href="#">More</a>
    </p>
    <div id="more-desc" class="desc" style="display: none">
        <p>{{ serie.series_summary }}
        <p><b>Overall design:</b> {{ serie.series_overall_design }}</p>
        <p><a href="#">Less</a> <small>(click anywhere in description)</small></p>
    </div>

    <style type="text/css">
      .desc {
        color: #909295;
        font-size: 12px;
      }
    </style>
    <script>
      $('#less-desc').click(function () { $('#more-desc').show();$('#less-desc').hide() });
      $('#more-desc').click(function () { $('#more-desc').hide();$('#less-desc').show() });
    </script>
{% endif %}
{% if tag %}
  <p>
     <b>Tag:</b>&nbsp; <span class="label label-success">{{ tag.tag_name }}</span>&nbsp;
     ({{ tag.description or 'no description' }}).
  </p>
{% endif %}

<div id="tag-form-placeholder"></div>
<form method="post" class="form-inline well" id="tag-form">
  {% csrf_token %}
  {% if serie %}
    <input type="hidden" name="series_id" value="{{ serie.series_id }}">
  {% endif %}
  {% if series_tag %}
    <input type="hidden" name="series_tag_id" value="{{ series_tag.id }}">
  {% endif %}
  <input type="hidden" name="values" value="">
  {% if job %}
    <input type="hidden" name="job_id" value="{{ job.id }}">
  {% endif %}
  {% if tags %}
    <div class="form-group">
      <label for="tag_id">Tag</label>
      <select name="tag_id" class="form-control" id="tag">
        <option value="">...</option>
        {% for tag in tags %}
            <option value="{{ tag.id }}">{{ tag.tag_name }}</option>
        {% endfor %}
      </select>
    </div>
  {% endif %}
  <div class="form-group">
    <label for="column">Column</label>
    <select name="column" class="form-control" id="column">
      <option value="">all</option>
      {% for col in columns %}
        {% if col != 'sample_id' %}
          <option value="{{ col }}">{{ col }}</option>
        {% endif %}
      {% endfor %}
    </select>
  </div>
  <div id="regex-form-group" class="form-group">
    <label for="regex" class="control-label">Regex</label>
    <input type="text" name="regex" class="form-control" id="regex">
  </div>
  <button type="submit" class="btn btn-default">Save</button>
  <span id='my-re'></span>
</form>

<ul id="facets" class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#"><b>All</b> ({{ samples|count }})</a></li>
</ul>

<div class="table-responsive">
  <table class="table table-striped table-bordered" id="data-table">
    <thead>
      <tr>
        <th>Tag Value</th>
        {% for col in columns %}
          <th class="col-{{ col }}">
            <span class="selectable select">{{ col }}</span>
            <span class="deselect">(deselect)</span></th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <!-- Generated by js -->
    </tbody>
  </table>
</div>

<style type="text/css">
.nav-tabs .glyphicon {top: 2px;}
#data-table {width: auto}
#data-table .select, #data-table .deselect {cursor: pointer; text-decoration: underline;}
#data-table .deselect {color: gray;}
#data-table tr.fixed {background-color: #D6EDFF}
#data-table mark {padding: 0;}
#data-table mark:first-child {background-color: yellow}
#data-table mark.bg-danger {background-color: #ff9070}
#data-table input {width: 10em;}

#tag-form {
  display: inline-block;
  margin-left: 0;
  transition: all 0.5s ease-out;
}
#tag-form.flow {
  position: fixed;
  top: 5px;
  z-index: 1000;
  box-shadow: 0.5px 0.5px 2.5px 1px rgba(0,0,0,0.55);
}
</style>

<script type="text/javascript">
$(function () {
  var offset = $('#tag-form').offset();
  var height = $('#tag-form').height();
  $('#tag-form-placeholder').height(height + 60).hide();

  $(window).on('scroll', function () {
    var flow = window.scrollY >= offset.top - 5;
    $('#tag-form').toggleClass('flow', flow);
    $('#tag-form-placeholder').toggle(flow);
  });
})
</script>

<script>
var columns = {{ columns|json|safe }};
var samples = {{ samples|json|safe }};

{% if tags %}
  var tags = {{ tags|json|safe }};
  var tagNames = _.object(tags.map(function (tag) {
    return [tag.id, tag.tag_name]
  }));
{% else %}
  var tagNames = {{ {tag.id: tag.tag_name}|json|safe }};
{% endif %}
</script>
<script type="text/javascript" src="{{ static('annotate.js') }}"></script>

{% if tag %}
  <script type="text/javascript">
  state.tag = {{ tag.id }};
  </script>
{% endif %}

{% endblock %}
