{% extends "base.j2" %}

{% block content %}
<h1 class="sub-header col-lg-offset-1">Search series</h1>

<form id="search-form" class="col-lg-offset-1">
  <div class="row">
    <div class="col-lg-10">
      <input type="text" class="form-control input-lg" name="q" value="{{ request.GET.q or '' }}" placeholder="Type in keywords">
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Search</button>
  </div>
</form>
<script>
$('#search-form input[name=q]').focus();
</script>


<div class="row" style="margin-top: 1em">
<div class="col-lg-10 col-lg-offset-1">

{% if page and page is not none %}
<p class="text-muted">
  {{ page.paginator.count }} page{{ page.paginator.count|pluralize }} found,
  {{ page.start_index() }}&ndash;{{ page.end_index() }} shown.
</p>
{% endif %}

{% if series %}
<div class="table-responsive" sstyle="margin-top: 1em">
  <table class="table table-striped table-bordered" id="data-table">
    <thead>
      <tr>
        <th></th>
        {% for col in columns %}
          <th class="col-{{ col }}">{{ col }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for serie in series %}
      <tr>
        <td><a class="btn btn-primary btn-sm" href="{{ url('annotate') }}?series_id={{ serie.series_id }}">Tag</a></td>
        {% for col in columns %}
          <td class="col-{{ col }}">{{ serie[col]|string|truncate(70, True) }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}

{% if page and page.has_other_pages() %}
<nav>
  <ul class="pagination">
    {% if page.has_previous() %}
    <li>
      <a href="/?q={{ request.GET.q }}&amp;p={{ page.previous_page_number() }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% for p in page.paginator.page_range %}
      <li{% if p == page.number %} class="active"{% endif %}>
        <a href="/?q={{ request.GET.q }}&amp;p={{ p }}">{{ p }}</a>
      </li>
    {% endfor %}
    {% if page.has_next() %}
    <li>
      <a href="/?q={{ request.GET.q }}&amp;p={{ page.next_page_number() }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}


</div>
</div>
{% endblock %}

