{% extends "base.j2" %}

{% block main %}
    <div class="hpanel">
        <div class="panel-body">
            <h2 class="font-light m-b-xs">
                Search series
            </h2>

            <form id="search-form" class="form-inline" style="margin-top: 1em">
                <div class="form-group col-md-8" style="padding: 0">
                    <input type="text" class="form-control input-lg" name="q" value="{{ request.GET.q or '' }}" placeholder="Type in keywords" style="width: 100%">
                </div>
                <div class="form-group">
                    <select name="specie" class="form-control input-lg">
                        <option value="">all species</option>
                        {% for specie in ('human', 'mouse', 'rat') %}
                            <option value="{{ specie }}"{% if (request.GET.specie or request.session.specie) == specie %} selected{% endif %}>{{ specie }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-lg">Search</button>
                    </span>
                </div>
                {% if tags %}
                    <div class="input-group" style="margin-top: 1em">
                        <label class="control-label" style="padding-left: 0; font-weight: bold">Exclude:</label> &nbsp;
                        {% for tag in tags|sort(attribute='name') %}
                        <label class="checkbox-inline">
                            <input type="checkbox" name="exclude_tags" value="{{ tag.id }}"
                                {%- if tag.id|string in request.GET.getlist('exclude_tags') %} checked{% endif -%}
                            >{{ tag.name }}
                        </label>
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
            <script>
                $('#search-form input[name=q]').focus();
                $('#search-form [name=exclude_tags]').on('click', function () {
                    $('#search-form').submit();
                })
            </script>
        </div>
    </div>

{% if series %}

<div class="hpanel forum-box">
    {% if page and page is not none %}
    <div class="panel-heading">
        <span class="pull-right">
            {{ samples }} sample{{ samples|pluralize }}.
            {{ platforms }} platform{{ platforms|pluralize }}.
            {% if species|count == 1 %}All{% else %}Species:{% endif %}
            {{ ', '.join((species|sort)[:3]) }}{% if species|count > 3 %} and others{% endif %}.
        </span>

        {{ page.paginator.count }} serie{{ page.paginator.count|pluralize }} found,
        {{ page.start_index() }}&ndash;{{ page.end_index() }} shown.
    </div>
    {% endif %}

    {% for serie in series %}
    <div class="panel-body search-result">
        <div class="row">
            <div class="col-md-1 forum-info" style="width: 4.5em">
                <a class="btn btn-success btn-sm" href="{{ url('annotate') }}?series_id={{ serie.id }}">Tag</a>
            </div>
            <div class="col-md-10 forum-heading">
                <h4>{{ serie.attrs.title }}</h4>
                <div class="desc">{{ serie.attrs.summary|truncate(300, True) }}</div>
                <p style="margin: 0.5em 0 0">
                    Serie: {{ serie.gse_name }},
                    {% with platforms = serie.platforms %}
                        Platform{{ platforms|count|pluralize }}: {{ platforms|join(', ') }}
                    {%- endwith -%}
                    {%- if serie_tags[serie.id] -%}
                        , Tags:
                        {%- for tag in serie_tags[serie.id] %}
                            <a href="{{ url('on_demand_validate') }}?series_id={{ serie.id }}&amp;tag_id={{ tag.id }}" class="label label-{{ 'success' if tags_validated[serie.id, tag.id] else 'grey' }}">{{ tag.name }}</a>
                        {% endfor %}
                    {% endif %}
                </p>
            </div>
            <div class="col-md-1 forum-info">
                <span class="number">{{ serie.samples_count }}</span>
                <small>Samples</small>
            </div>
        </div>
    </div>
    {% endfor %}

    {{ paginator() }}
</div>

{% endif %}

<div class="row">
    <div class="col-lg-12" style="margin: 20px 15px 0px">
        <div style="margin-top: 10px">
            <div style="float: left; margin: 3px 10px 0px 0px">
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                    <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
                </a>
            </div>
            <div>
                <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">
                    The Search Tag Analyze Resource for the Gene Expression Omnibus (STARGEO)
                </span>
                by
                <a xmlns:cc="http://creativecommons.org/ns#" href="http://hadleylab.org" property="cc:attributionName" rel="cc:attributionURL">
                    Dexter Hadley
                </a>
                is licensed under a
                <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                    Creative Commons Attribution 4.0 International License
                </a>.
            </div>
        </div>
    </div>
</div>
{% endblock %}

