{% extends "base.j2" %}

{% block main %}
    <div class="hpanel">
        <div class="panel-body">
            <h2 class="font-light m-b-xs">
                Search series
            </h2>

            <form id="search-form" cclass="col-lg-offset-1" style="margin-top: 1em">
                <div class="input-group">
                    <input type="text" class="form-control input-lg" name="q" value="{{ request.GET.q or '' }}" placeholder="Type in keywords">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary btn-lg">Search</button>
                    </span>
                </div>
                {% if tags %}
                    <div class="input-group" style="margin-top: 1em">
                        <label class="control-label" style="padding-left: 0; font-weight: bold">Exclude:</label> &nbsp;
                        {% for tag in tags|sort(attribute='name') %}
                        <label class="checkbox-inline">
                            <input type="checkbox" name="exclude_tags" value="{{ tag.id }}"
                                {%- if tag.id|string in request.GET.getlist('exclude_tags') %} checked{% endif -%}
                            >{{ tag.name }}
                        </label>
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
            <script>
                $('#search-form input[name=q]').focus();
                $('#search-form [name=exclude_tags]').on('click', function () {
                    $('#search-form').submit();
                })
            </script>
        </div>
    </div>

{% if series %}

<div class="hpanel forum-box">
    {% if page and page is not none %}
    <div class="panel-heading">
        {{ page.paginator.count }} serie{{ page.paginator.count|pluralize }} found,
        {{ page.start_index() }}&ndash;{{ page.end_index() }} shown.
        <span style="float: right">Species: {{ ','.join(species) }} &mdash; {{ platforms }} platforms found, {{ samples }} samples found</span>
    </div>
    {% endif %}

    {% for serie in series %}
    <div class="panel-body search-result">
        <div class="row">
            <div class="col-md-1 forum-info" style="width: 4.5em">
                <a class="btn btn-success btn-sm" href="{{ url('annotate') }}?series_id={{ serie.id }}">Tag</a>
            </div>
            <div class="col-md-10 forum-heading">
                <h4>{{ serie.attrs.title }}</h4>
                <div class="desc">{{ serie.attrs.summary|truncate(300, True) }}</div>
                <p style="margin: 0.5em 0 0">
                    Serie: {{ serie.gse_name }},
                    {% with platforms = serie.attrs.platform_id.split('---') %}
                        Platform{{ platforms|count|pluralize }}: {{ platforms|join(', ') }}
                    {%- endwith -%}
                    {%- if serie_tags[serie.id] -%}
                        , Tags done:
                        {%- for tag in serie_tags[serie.id] %}
                            <a href="{{ url('on_demand_validate') }}?series_id={{ serie.id }}&amp;tag_id={{ tag.id }}" class="label label-success">{{ tag.name }}</a>
                        {% endfor %}
                    {% endif %}
                </p>
            </div>
            <div class="col-md-1 forum-info">
                <span class="number">{{ serie.attrs.sample_id.split()|count }}</span>
                <small>Samples</small>
            </div>
        </div>
    </div>
    {% endfor %}

    {{ paginator() }}
</div>
{% endif %}

{% endblock %}

