{% extends "base.j2" %}

{% set page_title = title %}


{% block script %}
    <script src="{{ static('bioontology.form_complete.js') }}"></script>
{% endblock %}


{% block header %}
    {% if request.user.is_staff and tag %}
    <div class="pull-right">
        <a href="{{ url('tag_delete', tag.pk) }}" onclick="return confirm('Are you sure?')" class="btn btn-danger">Delete</a>
    </div>
    {% endif %}
    {{ super() }}
{% endblock %}


{% block main %}
<div class="hpanel"><div class="panel-body">
    <form class="form" role="form" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Save" />
        </div>
    </form>
    <script type="text/javascript">
        $('form.form :input:visible:first').focus();

        var $idConceptName = $('#id_concept_name')

        $idConceptName.after(
            '<b>Ontology: </b><span id="ontology_helper">None</span> &nbsp;'
            + '<b>Concept: </b><span id="concept_helper">None</span>');

        var $ontologyHelper = $('#ontology_helper');
        var $conceptHelper = $('#concept_helper');
        var $idOntologyId = $('#id_ontology_id');
        var $idConceptFullId = $('#id_concept_full_id');

        var $conceptNameBioportalOntologyId;
        var $conceptNameBioportalFullId;

        function updateTagFormFields() {
            // Clear if no concept

            if (!$idConceptName.val()) {
                $conceptNameBioportalOntologyId.val('');
                $conceptNameBioportalFullId.val('');
            }
            // Fill db hiddens from bioportal ones
            $idOntologyId.val($conceptNameBioportalOntologyId.val());
            $idConceptFullId.val($conceptNameBioportalFullId.val());


            var currentOntology = $ontologyHelper.text();
            var currentConcept = $conceptHelper.text();

            if (currentOntology !== $conceptNameBioportalOntologyId.val()){
                $ontologyHelper.text($conceptNameBioportalOntologyId.val() || 'None');
            }
            if (currentConcept != $conceptNameBioportalFullId.val()) {
                var link = $conceptNameBioportalFullId.val();
                var content  = "<a target='_blank' href='" + link + "'>" + link + "</a>";
                $conceptHelper.html(link ? content : 'None');
            }
        }

        $(function () {
            waitForElement('#concept_name_bioportal_ontology_id', function () {
                // Fill bioportal hiddens from db ones
                $conceptNameBioportalOntologyId = $('#concept_name_bioportal_ontology_id');
                $conceptNameBioportalFullId = $('#concept_name_bioportal_full_id');

                $conceptNameBioportalOntologyId.val($idOntologyId.val());
                $conceptNameBioportalFullId.val($idConceptFullId.val());

                // Set up filling back
                updateTagFormFields();
                setInterval(updateTagFormFields, 200);
                $('form.form').submit(updateTagFormFields);
            })
        })

        function waitForElement(selector, func) {
            if (document.querySelector(selector)) func();
            else setTimeout(function() {waitForElement(selector, func)}, 200);
        }
    </script>
</div></div>

{% if stats %}
<div class="hpanel"><div class="panel-body">
    <h2>Statistics</h2>
    {% for stat in ('annotations', 'validations', 'canonical') %}
    <table class="table table-bordered table-striped" style="width: auto; float: left; margin-right: 2em">
        <tr><th colspan="2">{{ stat|title }}</th></tr>
        {% for value, count in stats[stat] %}
            <tr><td>{{ value }}</td><td>{{ count }}</td></tr>
        {% endfor %}
    </table>
    {% endfor %}
</div></div>
{% endif %}
{% endblock %}
