{% extends "base.j2" %}

{% set page_title = 'Tags' %}


{% block header %}
    <div class="pull-right">
        <input id="tagSearch" placeholder="search tag" autofocus=true class="search form-control"/>
        <a href="{{ url('tag_create') }}" class="btn btn-success">Create</a>
    </div>
    {{ super() }}
{% endblock %}


{% block content %}
    <div class="row toc">
    {% for col in tags|index('tag_name')|slice(2) %}
        <div class="col-md-6">
            {% for key, group in col %}
            <div class="tagGroup row">
                <div class="col-sm-1"><h2>{{ key }}</h2></div>
                <div class="col-sm-11 toc-items">
                    {%- for tag in group %}
                        <span class="tag" data-name="{{ tag.tag_name }}">
                            <a href="{{ url('tag', tag.id) }}" class="label label-success" title="{{ tag.description or '(no description)' }}">{{ tag.tag_name }}</a>&nbsp;
                        </span>
                    {%- endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
    <style type="text/css">
        .toc h2 {margin: 0}
        .toc-items {line-height: 190%; margin-bottom: 1.35em}
    </style>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(function(){
            var $tagSearch = $("#tagSearch");
            var timeoutId;

            $tagSearch.change(function(e){
                onFilterChange(e.target.value.toLowerCase().trim());
            });

            $tagSearch.keyup(function(){
                clearTimeout(timeoutId);
                timeoutId = setTimeout(function(){
                    onFilterChange($tagSearch.val().toLowerCase().trim());
                }, 300);
            });

            function onFilterChange(filterValue) {
                $('span.tag').each(function(index, elem){
                    var $elem = $(elem);
                    var tagValue = $elem.attr('data-name');
                    var startIndex = tagValue.toLowerCase().search(filterValue);
                    if (startIndex == -1) {
                        $elem.addClass('hidden');
                    } else {
                        $elem.removeClass('hidden');
                    }

                });
                $('div.tagGroup').each(function(index, elem) {
                    var $elem = $(elem);
                    var displayedTags = $elem.find('span.tag').filter(function(index, elem){
                        return !$(elem).hasClass('hidden');
                    });
                    if (displayedTags.length == 0) {
                        $elem.addClass('hidden');
                    } else {
                        $elem.removeClass('hidden');
                    }
                });
            };
        });
    </script>
{% endblock %}
