*.pyc
.env
.env.ec2
bower_components
.ipynb_checkpoints/
stargeo.sql*
.pdb-pyhist
*.lprof
*.pyxbldc
_errors
_files/*
frontend/node_modules
frontend/dist
frontend/npm-debug.log
.ropeproject
*bundle.js
