dj-database-url==0.3.0
Django==1.8.13
django-jinja==1.4.1
django-jinja-bootstrap-form==4.0.3
djangorestframework==3.5.3
django-rest-swagger==2.1.1
django-transaction-hooks==0.2
django-filter==1.0.1
funcy>=1.7.5,<2.0
django-model-utils>=1.4,<2.4
handy==0.5.6
honcho==0.6.4
Jinja2==2.7.3
psycopg2==2.6
redis==2.10.3
celery==3.1.17
tqdm==1.0
requests==2.7.0
ftptool==0.7.1
django-cacheops==3.1.1
gzip-reader==0.1
pandas==0.18.1
termcolor==1.1.0
numpy==1.11.1
numexpr==2.6.2
scipy==0.16.0
statsmodels==0.8.0
django_pandas==0.3.0
easydict==1.6
django-datatable-view==0.8.3
boto==2.38.0
rpy2==2.5.6
django-registration==2.0.4
biopython==1.68
mygene==3.0.0
