dj-database-url==0.3.0
Django==1.7.4
django-jinja==1.1.1
funcy==1.4
gunicorn==19.2.1
handy==0.4
honcho==0.6.4
Jinja2==2.7.3
psycopg2==2.6
redis==2.10.3
django-migrations-plus
celery==3.1.17
tqdm==1.0
