{% extends "registration/base.j2" %}


{% set heading = 'Resend activation email' %}


{% block content %}
    <form class="form" role="form" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Send email" />
        </div>
    </form>
{% endblock %}
