div.legend {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}
div.legend span {
    margin: 5px;
    padding: 5px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    color: white;
}