{% extends "datatable.j2" %}

{% set page_title = 'Series annotations' %}

{% block header %}
  <h2 class="font-light" style="display: inline-block; margin-bottom: 0">{{ page_title }}</h2>
  <a href="{{ url('sampleannotation-list', format='json') }}" class="btn btn-success" style='float:right;'>
    Export samples annotations
  </a>
{% endblock %}


{% block script %}
    {{ super() }}
    <script type="text/javascript">
        datatableview.auto_initialize = false;
        $(function(){
            datatableview.initialize($('.datatable'), {
                scrollX: true,
                pageLength: 50,
                columnDefs: [
                    {
                        render: function ( data, type, row ) {
                            return '<a href="/annotations/' + row[0] + '/samples/">' + data + '</a>';
                        },
                        targets: [4]
                    }
                ]
            });

            // Add help link after search field
            $('.dataTables_wrapper .dataTables_filter input').after('<a href="#help" style="padding-left: 0.3em; color: blue">?</a>');
        });

    </script>
{% endblock %}


{% block content %}
    {{ super() }}
    <hr>
    <p id="help" style="margin-top: 1em">
        Any text typed into <b>Search</b> is looked in all fields. With a few exceptions to facilitate more precise filtering:
    </p>
    <table class="table table-striped table-bordered" style="width: auto;">
        {# <tr><th>Pattern</th><th>Description</th></tr> #}
        <tr><td><code>GSE&lt;digits&gt;</code></td><td>filter by serie</td></tr>
        <tr><td><code>GPL&lt;digits&gt;</code></td><td>filter by platform</td></tr>
        <tr><td><code>tag=&lt;tag name&gt;</code></td><td>filter by platform</td></tr>
        <tr><td><code>valid</code></td><td>select only validated annotations</td></tr>
        <tr><td><code>novalid</code></td><td>select not yet validated annotations</td></tr>
    </table>
    <p>Special search terms can be used more than once and combined with each other. Here are some examples:</p>
    <table class="table table-striped table-bordered" style="width: auto;">
        <tr><td><code>GSE425 GSE24384</code></td><td>show annotations for any of these series</td></tr>
        <tr><td><code>GSE21997 GPL7504</code></td><td>filter by both serie and platform</td></tr>
        <tr><td><code>GSE25001 dengue</code></td><td>filter by serie and then search "dengue" in any field</td></tr>
        <tr><td><code>tag=DF tag=DHF valid</code></td><td>select valild annotations of either DF or DHF tag</td></tr>
    </table>
{% endblock %}
