{% extends "datatable.j2" %}

{% set page_title = 'Series annotations' %}


{% block script %}
    {{ super() }}
    <script type="text/javascript">
        datatableview.auto_initialize = false;
        $(function(){
            datatableview.initialize($('.datatable'), {
                columnDefs: [
                    {
                        render: function ( data, type, row ) {
                            console.log(row)
                            return '<a href="/annotations/' + row[0] + '/samples/">' + data + '</a>';
                        },
                        targets: [4]
                    }
                ]
            });
        });
    </script>
{% endblock %}
