{% extends "base.j2" %}

{% set page_title = analysis.analysis_name %}


{% block header %}
    <div class="pull-right">
        <a href="{{ url('analysis_log', analysis.pk) }}" class="btn btn-default">Log</a>
        <a href="{{ url('analysis_rerun', analysis.pk) }}?copy=1" class="btn btn-primary">Run a copy</a>
        <a href="{{ url('analysis_rerun', analysis.pk) }}" class="btn btn-primary">Rerun</a>
        <a href="{{ url('analysis_delete', analysis.pk) }}" onclick="return confirm('Are you sure?')" class="btn btn-danger">Delete</a>
    </div>
    {{ super() }}
{% endblock %}


{% block content %}
    <table class="table" style="width: auto; float: left; margin-right: 1.5em">
        {% if analysis.description %}
            <tr><th>Description</th><td>{{ analysis.description }}</td></tr>
        {% endif %}
        <tr><th>Case Query</th><td>{{ analysis.case_query }}</td></tr>
        <tr><th>Control Query</th><td>{{ analysis.control_query }}</td></tr>
        {% if analysis.modifier_query %}
            <tr><th>Modifier Query</th><td>{{ analysis.modifier_query }}</td></tr>
        {% endif %}
    </table>
    {% if analysis.series_count %}
        <table class="table" style="width: auto">
            <tr><th>Series</th><td>{{ analysis.series_count }}</td></tr>
            <tr><th>Platforms</th><td>{{ analysis.platform_count }}</td></tr>
            <tr><th>Samples</th><td>{{ analysis.sample_count }}</td></tr>
        </table>
    {% endif %}
    <div class="datatable-wrap clear-fix">
        {{ datatable|safe }}
    </div>
{% endblock %}


{% block script %}
    <link rel="stylesheet" href="{{ static('homer/vendor/datatables_plugins/integration/bootstrap/3/dataTables.bootstrap.css') }}" />

    <script src="{{ static('homer/vendor/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ static('homer/vendor/datatables_plugins/integration/bootstrap/3/dataTables.bootstrap.min.js')    }}"></script>

    <style type="text/css">
        table.dataTable th, table.dataTable td {white-space: nowrap;}
        .dataTables_scrollBody table.dataTable thead *:after {display: none !important}
    </style>

    <script src="{{ static('js/datatableview.js') }}"></script>
    <script type="text/javascript">
        datatableview.auto_initialize = false;
        $(function(){
            datatableview.initialize($('.datatable'), {
                scrollX: true,
                columnDefs: [
                    {
                        render: function ( data, type, row ) {
                            return data ? Number(data).toPrecision(3) : data;
                        },
                        targets: _.range(8, 37)
                    }
                ]
            });
        });
    </script>
{% endblock %}
