{% extends "analysis/detail_base.j2" %}

{% set active = 'results' %}


{% block content %}
    <table class="table" style="width: auto; float: left; margin-right: 1.5em">
        {% if analysis.description %}
            <tr><th>Description</th><td>{{ analysis.description }}</td></tr>
        {% endif %}
        <tr><th>Case Query</th><td>{{ analysis.case_query }}</td></tr>
        <tr><th>Control Query</th><td>{{ analysis.control_query }}</td></tr>
        {% if analysis.modifier_query %}
            <tr><th>Modifier Query</th><td>{{ analysis.modifier_query }}</td></tr>
        {% endif %}
        {% if analysis.min_samples %}
            <tr><th>Min Samples</th><td>{{ analysis.min_samples }}</td></tr>
        {% endif %}
    </table>
    {% if analysis.series_count %}
        <table class="table" style="width: auto">
            <tr><th>Series</th><td>{{ analysis.series_count }}</td></tr>
            <tr><th>Platforms</th><td>{{ analysis.platform_count }}</td></tr>
            <tr><th>Samples</th><td>{{ analysis.sample_count }}</td></tr>
        </table>
    {% endif %}
    <div class="datatable-wrap clear-fix">
        {{ datatable|safe }}
    </div>
    <a href="{{ url('analysis_export', analysis.id) }}" class="btn btn-primary">Export</a>
{% endblock %}


{% block style %}
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link rel="stylesheet" href="{{ static('homer/vendor/datatables_plugins/integration/bootstrap/3/dataTables.bootstrap.css') }}" />
    <script type="text/javascript" src="{{ FRONTEND }}bundle.js"></script>
    <style type="text/css">
        table.dataTable th, table.dataTable td {white-space: nowrap;}
        .dataTables_scrollBody table.dataTable thead *:after {display: none !important}
    </style>
{% endblock %}


{% block script %}
    <script src="{{ static('homer/vendor/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ static('homer/vendor/datatables_plugins/integration/bootstrap/3/dataTables.bootstrap.min.js')    }}"></script>

    <script src="{{ static('js/datatableview.js') }}"></script>
    <script type="text/javascript">
        var analysisId = {{ analysis.id }};
        var tabWidth = $('#results').get(0).offsetWidth;
        datatableview.auto_initialize = false;
        $(function(){
            datatableview.initialize($('.datatable'), {
                scrollX: true,
                columnDefs: [
                    {
                        render: function ( data, type, row ) {
                            return '<a href="javascript:addForestTab(\'' + data + '\')">' + data + '</a>';
                        },
                        targets: [2]
                    },
                    {
                        render: function ( data, type, row ) {
                            return data ? Number(data).toPrecision(3) : data;
                        },
                        targets: _.range(8, 37)
                    }
                ]
            });
        });

        function addForestTab(mygene) {
            var $geneTabLink = $('#tab-' + mygene + ' a');

            if ($geneTabLink.length) {
                $geneTabLink.tab('show');
                return;
            }

            $('#tab-frame').before('<li id="tab-{mygene}"><a href="#{mygene}" aria-controls="{mygene}" role="tab" data-toggle="tab">{mygene}<span class="close-tab" onclick="removeForestTab(\'{mygene}\')"> &times;</span></a></li>'.replace(/{mygene}/g, mygene));
            $('#analysis-tabs-content').append('<div id="' + mygene + '" class="tab-pane"><div class="panel-body" style="overflow-x: auto; padding: 20px 10px">Loading...</div></div>');
            $('#tab-' + mygene + ' a').tab('show');

            $.ajax({
                url: '/analysis/' + analysisId + '/' + mygene + '.json',
                dataType: 'json'
            }).done(function (data) {
                drawForestGraph($('#' + mygene + ' .panel-body'), data);
            }).fail(function () {
                alert('Something went wrong. Try reloading the page.')
            })
        }

        function removeForestTab(mygene) {
            $("#tab-" + mygene).remove();
            $("#" + mygene).remove();
            $('#results-tab-link').tab('show');
        }

        function drawForestGraph(elem, res) {
            if (!res.success) {
                alert('Error happend: ' + res.error + (res.help ? '\n' + res.help : ''))
            } else {
                elem.html('');
                window.showForestPlot(elem.get(0),tabWidth, res.data);
            }
        }
    </script>
{% endblock %}
