{% extends "base.j2" %}


{% set page_title = 'Analysis' %}


{% block content %}
    <div class="datatable-wrap">
        {{ datatable|safe }}
    </div>
{% endblock %}


{% block script %}
    <link rel="stylesheet" href="{{ static('homer/vendor/datatables_plugins/integration/bootstrap/3/dataTables.bootstrap.css') }}" />

    <script src="{{ static('homer/vendor/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ static('homer/vendor/datatables_plugins/integration/bootstrap/3/dataTables.bootstrap.min.js')    }}"></script>

    <style type="text/css">
        table.dataTable th, table.dataTable td {white-space: nowrap;}
        .dataTables_scrollBody table.dataTable thead *:after {display: none !important}
    </style>

    <script src="{{ static('js/datatableview.js') }}"></script>
    <script type="text/javascript">
        datatableview.auto_initialize = false;
        $(function(){
            datatableview.initialize($('.datatable'), {
                scrollX: true,
            });
        });
    </script>
{% endblock %}
