{% extends "datatable.j2" %}

{% set page_title = 'Analysis' %}


{% block header %}
    <a href="{{ url('analysis_create') }}" class="btn btn-success" style="float: right">Create</a>
    {{ super() }}
{% endblock %}


{% block script %}
    {{ super() }}
    <script type="text/javascript">
        datatableview.auto_initialize = false;
        $(function(){
            datatableview.initialize($('.datatable'), {
                columnDefs: [
                    {
                        render: function ( data, type, row ) {
                            console.log(row)
                            return '<a href="/analysis/' + row[0] + '/">' + data + '</a>';
                        },
                        targets: [1]
                    }
                ]
            });
        });
    </script>
{% endblock %}
