.table a, p a {
    text-decoration: underline;
}
a.btn, a.label {text-decoration: none !important}

.close-tab {
    cursor: pointer;
    position: relative;
    padding: 0px 5px 0px 0px;
    right: -6px;
    color: #ea6557;
    font-size: 13px
}

.label-grey {background-color: #9c9c9c}
.label-grey:hover {background-color: #838383}

input.form-control.search {
    padding-top: 2px;
    width: auto;
    display: inline;
}


/* select2 customization */
.select2 *, .select2-search__field {
  outline: none!important;
}

.select2-container .select2-selection--single {
  height: 34px!important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  height: 34px!important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 30px!important;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #e4e5e7!important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 3px!important;
}
