.table a {
    text-decoration: underline;
}

.close-tab {
    cursor: pointer;
    position: relative;
    padding: 0px 5px 0px 0px;
    right: -6px;
    color: #ea6557;
    font-size: 13px
}

.label-grey {background-color: #9c9c9c}
.label-grey:hover {background-color: #838383}
