<!DOCTYPE html>
<html lang="en">
  <head>
    <title>STAR</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ static('bootstrap/css/bootstrap.min.css') }}">
    <script src="{{ static('jquery.min.js') }}"></script>
    <script src="{{ static('bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ static('lodash.min.js') }}"></script>
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">STAR</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <!-- <li><a href="#">Profile</a></li> -->
            {% if request.user_data %}
              <li><a href="{{ legacy_app_url }}/default/user/profile">
                Welcome {{ request.user_data['first_name'] }}</a></li>
              <li><a href="{{ legacy_app_url }}/default/user/logout">
                Log Out</a></li>
            {% else %}
              <li><a href="{{ legacy_app_url }}/default/user/login">Log In</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 main">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>

  </body>
</html>
