{% extends 'base.j2' %}

{% block main %}
<div class="row">
    <div class="col-lg-12 text-center m-t-md">
        <h2>
            Welcome to STAR application
        </h2>

    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                </div>
                {# Dashboard information and statistics #}
                &nbsp;
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <div class="small">
                            &nbsp;
                            {# <i class="fa fa-bolt"></i> Page views #}
                        </div>

                        <div>
                            <h1 class="font-extra-bold m-t-xl m-b-xs">
                                298,115
                            </h1>
                            <small>Sample annotations</small>
                        </div>
{#                         <div class="small m-t-xl">
                            <i class="fa fa-clock-o"></i> Data from January
                        </div>
 #}                    </div>
                    <div class="col-md-6">
                        <div class="text-center small">
                            <i class="fa fa-laptop"></i> Active users in current month (December)
                        </div>
                        <div class="flot-chart" style="height: 160px">
                            <div class="flot-chart-content" id="flot-line-chart"></div>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="small">
                            <i class="fa fa-clock-o"></i> Active duration
                        </div>
                        <div>
                            <h1 class="font-extra-bold m-t-xl m-b-xs">
                                3 Weeks
                            </h1>
                            {# <small>And four weeks</small> #}
                        </div>
{#                         <div class="small m-t-xl">
                            <i class="fa fa-clock-o"></i> Last active in 12.10.2015
                        </div> #}
                    </div>
                </div>
            </div>
{#             <div class="panel-footer">
                    <span class="pull-right">
                          You have two new messages from <a href="">Monica Bolt</a>
                    </span>
                Last update: 21.05.2015
            </div> #}
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $(function () {

        /**
         * Flot charts data and options
         */
        var data1 = [ [0, 55], [1, 48], [2, 40], [3, 36], [4, 40], [5, 60], [6, 50], [7, 51] ];
        var data2 = [ [0, 56], [1, 49], [2, 41], [3, 38], [4, 46], [5, 67], [6, 57], [7, 59] ];

        var chartUsersOptions = {
            series: {
                splines: {
                    show: true,
                    tension: 0.4,
                    lineWidth: 1,
                    fill: 0.4
                },
            },
            grid: {
                tickColor: "#f0f0f0",
                borderWidth: 1,
                borderColor: 'f0f0f0',
                color: '#6a6c6f'
            },
            colors: [ "#62cb31", "#efefef"],
        };

        $.plot($("#flot-line-chart"), [data1, data2], chartUsersOptions);

    });
</script>
{% endblock %}
