{% extends 'base.j2' %}

{% block main %}
<div class="row">
    <div class="col-lg-12 text-center m-t-md">
        <h2>
            Welcome to STAR application
        </h2>
        <p>Redefining the meaning of disease... Together!</p>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading">
                <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                </div>
                {# Dashboard information and statistics #}
                &nbsp;
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3 text-center">
                        <div class="small">
                            &nbsp;
                            {# <i class="fa fa-bolt"></i> Page views #}
                        </div>

                        <div style="margin-top: 9.35em">
                            <h1 class="font-extra-bold m-t-xl m-b-xs">
                                {{ stats['sample_annotations']|intcomma }}
                            </h1>
                            <small>sample annotations</small>
                        </div>

{#                         <div class="small m-t-xl">
                            <i class="fa fa-clock-o"></i> Data from January
                        </div>
 #}                    </div>
                    <div class="col-md-9">
                        <div class="text-center small">
                            <i class="fa fa-sellsy"></i> Samples annotated and validated
                        </div>
                        <div class="flot-chart" style="height: 320px">
                            <div class="flot-chart-content" id="flot-line-chart"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="panel-body">
                <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/61lw_d6Eoik' frameborder='0' allowfullscreen></iframe></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="hpanel">
            <div class="hpanel">

            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-1">Search</a></li>
                <li class=""><a data-toggle="tab" href="#tab-2">Tag</a></li>
                <li class=""><a data-toggle="tab" href="#tab-3">Analyze</a></li>
                <li class=""><a data-toggle="tab" href="#tab-4">Resource</a></li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane active">
                    <div class="panel-body">
                        <p>STAR provides a powerful search engine across samples, experiments, and attributes from GEO.
                        In all, {{ stats['samples']|intcomma }} digital samples
                        described by {{ stats['samples_attributes']|intcomma }} attributes that are
                        drawn from {{ stats['experiments']|intcomma }} experiments
                        described by {{ stats['experiments_attributes']|intcomma }} attributes are available.</p>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane">
                    <div class="panel-body">
                        <p>STAR uses an annotation engine based on a semantic network of crowd-sourced tags that
                        that represent biological annotations. In all, {{ stats['tags']|intcomma }} tags have been used
                        to make {{ stats['serie_annotations']|intcomma }} annotations of digital experiments
                        representing {{ stats['sample_annotations']|intcomma }} annotations of digital samples.</p>
                    </div>
                </div>
                <div id="tab-3" class="tab-pane">
                    <div class="panel-body">
                        <p>STAR enables meta-analysis of digitally tagged samples for robust gene signatures
                        using {{ stats['gene_probes']|intcomma }} gene probes across {{ stats['platforms']|intcomma }} platforms
                        within
                        GEO. In all {{ stats['meta_analyses']|intcomma }} meta-analyses of standard fixed and random models have
                        been
                        run with corresponding Forrest plots available.</p>
                    </div>
                </div>
                <div id="tab-4" class="tab-pane">
                    <div class="panel-body">
                        <p>STAR represents an annotation layer built on open public data provided by GEO. It is provided as
                        an open resource for the scientific community as a tool to derive robust gene signatures from
                        public
                        functional genomics data. Currently {{ stats['users']|intcomma }} users have contributed.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12" style="margin: 20px 15px 0px">
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" />
        </a>
        <br />
        <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">
            The Search Tag Analyze Resource for the Gene Expression Omnibus (STARGEO)
        </span>
        by
        <a xmlns:cc="http://creativecommons.org/ns#" href="http://hadleylab.org" property="cc:attributionName" rel="cc:attributionURL">
            Dexter Hadley
        </a>
        <br/>
        is licensed under a
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
            Creative Commons Attribution 4.0 International License
        </a>.
    </div>
</div>


<style type="text/css">
.tab-pane p {
    margin-top: 0.5em;
    font-size: 135%;
    line-height: 165%;
    color: #444;
}
</style>
{% endblock %}

{% block script %}
<script src="{{ static('jquery.flot.time.js') }}"></script>
<script>
    $(function () {
        var annotations = {{ stats['graph']|safe }};

        // Construct plot data and options
        fixSeries(annotations);
        var plotData = [annotations.total, annotations.right, annotations.wrong];

        var chartUsersOptions = {
            series: {
                splines: {
                    show: true,
                    tension: 0.4,
                    lineWidth: 1,
                    fill: 0.4
                },
            },
            grid: {
                tickColor: "#f0f0f0",
                borderWidth: 1,
                borderColor: 'f0f0f0',
                color: '#6a6c6f'
            },
            colors: [
                "#B7B7B7",
                "#62cb31", "#FC0000", "#7991C8"],
            xaxis: {
                mode: "time",
                timeformat: "%Y/%m/%d"
            }
        };

        $.plot($("#flot-line-chart"), plotData, chartUsersOptions);
    });

    function fixSeries(annotations) {
        var lastDay = _(annotations).map(function (data) {
            if (!data.length) return 0;
            return data[data.length - 1][0];
        }).max();

        _.each(annotations, _.partial(fixSeriesSpan, _, lastDay));
    }

    function fixSeriesSpan(data, lastDay) {
        if (!data.length) return;

        // Fill to the end
        var dayInMillis = 24 * 60 * 60 * 1000;
        var lastData = data[data.length - 1];
        var lastDataDay = lastData[0], lastDataValue = lastData[1];
        while (lastDataDay <= lastDay) {
            data.push([lastDataDay, lastDataValue]);
            lastDataDay += dayInMillis;
        }
    }
</script>
{% endblock %}
