<html>
<head>
<style type="text/css">
    .form {margin: 2em 10%;}
    .form th {text-align: left}
</style>
<script type="text/javascript">
window.onpopstate = function (e) {
    if (e.state.html) document.body.innerHTML = e.state.html;
}
</script>
</head>
<body>
    <form class="form" method="post" action="{{ action }}">
        {% csrf_token %}
        <table>
        {{ form }}
        <tr><td></td><td><input type="submit" value="Submit"></td></tr>
        </table>
    </form>

    <form id="json_one" class="form" method="post" action="{{ action }}" enctype="text/plain">
        <textarea cols="70" rows="10" name="json"></textarea>
        <br><input type="submit" value="Submit">
    </form>

<script type="text/javascript">
var form = document.forms['json_one'];
form.onsubmit = function (e) {
    // stop the regular form submission
    e.preventDefault();

    // construct an HTTP request
    var xhr = new XMLHttpRequest();
    xhr.open(form.method, form.action, true);
    xhr.setRequestHeader('Content-Type', 'application/json; charset=UTF-8');
    xhr.setRequestHeader('X-CSRFToken', document.querySelector('[name=csrfmiddlewaretoken]').value);
    xhr.send(form.json.value);

    xhr.onloadend = function () {
        window.history.replaceState({html: document.body.innerHTML}, document.title)
        window.history.pushState({}, this.status, form.action)
        // Rewrite this page to show response
        document.title = this.status + ' ' + this.statusText;
        document.body.innerHTML = this.response;
    }
}
</script>
</body>
</html>
