<html>
<head>
<style type="text/css">
    .form {margin: 2em 10%;}
    .form th {text-align: left}
</style>
</head>
<body>
    <form class="form" role="form" method="post" action="{{ action }}">
        {% csrf_token %}
        <table>
        {{ form }}
        <tr><td></td><td><input type="submit" value="Submit"></td></tr>
        </table>
    </form>
</body>
</html>
