# Update descriptive statistics cache for dashboard
5  */8 * * *   cd /home/ubuntu/app && ../venv/bin/python manage.py update_statistic_cache
#
15 0   * * 0   cd /home/ubuntu/app && ../venv/bin/python manage.py cleanfilecache
#
15 1   * * 0   cd /home/ubuntu/app && ../venv/bin/python manage.py refresh_data
# Update ontologies from http://bioportal.bioontology.org/ API
15 */8   * * 2-6 cd /home/ubuntu/app && ../venv/bin/python manage.py update_ontologies
