15 0 * * 0 cd /home/ubuntu/app && ../venv/bin/python manage.py cleanfilecache
15 1 * * 0 cd /home/ubuntu/app && ../venv/bin/python manage.py refresh_data
# Remove old files to clean cache and update to new refMrna dbs
0 1 * * 1 cd /home/ubuntu/app && rm -rf _files
15 1 * * 1 cd /home/ubuntu/app && ../venv/bin/python manage.py fill_probes
15 1 * * 2 cd /home/ubuntu/app && ../venv/bin/python manage.py fill_probes --redo=500
